In [1]:
#Dependencies

from bs4 import BeautifulSoup
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\kellrow80\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

<b>NASA Mars News<b>

In [3]:
#URL to use for Mars News and open URL

url = 'https://redplanetscience.com'
browser.visit(url)

In [4]:
#Create Beautiful Soup Object

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
#Get Latest News Title
news_title = soup.find('div', class_='content_title').text
news_title

"NASA's New Mars Rover Is Ready for Space Lasers"

In [6]:
#Get Latest News teaser paragraph
news_teaser = soup.find('div', class_='article_teaser_body').text
news_teaser

'Perseverance is one of a few Mars spacecraft carrying laser retroreflectors. The devices could provide new science and safer Mars landings in the future.'

<b>JPL Mars Space Images - Featured Image<b>

In [7]:
#URL to use for Mars Images and open URL

url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [8]:
#Create BeautifulSoup Object

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [9]:
#Create URL string for featured image

featured_image_url = (url + "image/featured/mars3.jpg")
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

<b>Mars Facts<b>

In [10]:
#Mars URL to use for table info

url = 'https://galaxyfacts-mars.com/'

In [11]:
#Use Pandas to read html

mars_info = pd.read_html(url)
mars_info

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
#Put table into dataframe

mars_info_df = mars_info[0]



mars_info_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [13]:
#Convert Dataframe into HTML

html_table = mars_info_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

<b>Mars Hemispheres<b>

In [14]:
#URL for Mars Hemispheres and open URL

url = 'https://marshemispheres.com/'
browser.visit(url)

In [15]:
#Create BeautifulSoup Object

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [16]:
#Create URL string for Cerberus image

cerberus_image = (url + "images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg")
cerberus_image

'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [17]:
#Create URL string for Schiaparelli image

schiaparelli_image = (url + "images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg")
schiaparelli_image

'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'

In [18]:
#Create URL string for Syrtis image

syrtis_major_image = (url + "images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg")
syrtis_major_image

'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'

In [19]:
#Create URL string for Valles Marineris image

valles_marineris_image = (url + "images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg")
valles_marineris_image

'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'

In [20]:
#Create dictionary for Hemisphere title and URL string

hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere", "image_url": "https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg"},
    {"title": "Schiaparelli Hemisphere", "image_url": "https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg"},
    {"title": "Syrtis Major Hemisphere", "image_url": "https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg"},
    {"title": "Valles Marineris Hemisphere", "image_url": "https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg"}
                            
]
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'image_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'image_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'image_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'image_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [21]:
browser.quit()

In [24]:
from flask_pymongo import PyMongo
from pymongo import MongoClient

In [25]:
#mongo = PyMongo(app, uri="mongodb://localhost:27017/mission_to_mars")
uri="mongodb://localhost:27017/mission_to_mars"
mongo = MongoClient(uri)

In [38]:
data = {
        "title": news_title,
        "teaser": news_teaser,
        "featured_image": featured_image_url,
        "info_table": html_table,
        "hemisphere_images": hemisphere_image_urls

}
    
    
data

{'title': "NASA's New Mars Rover Is Ready for Space Lasers",
 'teaser': 'Perseverance is one of a few Mars spacecraft carrying laser retroreflectors. The devices could provide new science and safer Mars landings in the future.',
 'featured_image': 'https://spaceimages-mars.com/image/featured/mars3.jpg',
 'info_table': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>',
 'hemisphere_images': [{'title': 'Cerberus Hemisphere',
   'image_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere',
   'image_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere',
   'image_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere',
   'image_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}

In [39]:
mongo.mission_to_mars.mars.update({}, data, upsert=True)

<ipython-input-39-3035f50ee2d1>:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  mongo.mission_to_mars.mars.update({}, data, upsert=True)

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [40]:
mars = mongo.mission_to_mars.mars.find_one()
mars["title"]

"NASA's New Mars Rover Is Ready for Space Lasers"